.avatar {
  width: 100%;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: grey;
  font: 10px sans-serif;
  text-align: left;
}

.axis--x path {
  display: none;
}

.languageList {
  list-style: none;
  padding: 0;
  line-height: 1.95em;
  text-align: right;
  font-weight: bold;
}

small {
  padding-left: 15px;
}
